In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/nhs-expenditure-salisbury/OCT16.csv
/kaggle/input/nhs-expenditure-salisbury/MAY16.csv
/kaggle/input/nhs-expenditure-salisbury/SEP2017.csv
/kaggle/input/nhs-expenditure-salisbury/OCT2018.csv
/kaggle/input/nhs-expenditure-salisbury/JUL2012.csv
/kaggle/input/nhs-expenditure-salisbury/2015_September.csv
/kaggle/input/nhs-expenditure-salisbury/December2014.csv
/kaggle/input/nhs-expenditure-salisbury/Feb2012.csv
/kaggle/input/nhs-expenditure-salisbury/JUL2018.csv
/kaggle/input/nhs-expenditure-salisbury/Dec2015.csv
/kaggle/input/nhs-expenditure-salisbury/01_JAN2011.csv
/kaggle/input/nhs-expenditure-salisbury/MAR2019.csv
/kaggle/input/nhs-expenditure-salisbury/SEP16.csv
/kaggle/input/nhs-expenditure-salisbury/APRIL2018.csv
/kaggle/input/nhs-expenditure-salisbury/FEB2019.csv
/kaggle/input/nhs-expenditure-salisbury/MAY12.csv
/kaggle/input/nhs-expenditure-salisbury/JAN2018.csv
/kaggle/input/nhs-expenditure-salisbury/2015_April.csv
/kaggle/input/nhs-expenditure-salisbury/dec10.csv
/kaggle/input/nhs-expenditure-salisbury/April2013.csv
/kaggle/input/nhs-expenditure-salisbury/DEC16.csv
/kaggle/input/nhs-expenditure-salisbury/SET2012.csv
/kaggle/input/nhs-expenditure-salisbury/JUN16.csv
/kaggle/input/nhs-expenditure-salisbury/January2016.csv
/kaggle/input/nhs-expenditure-salisbury/NOV2018.csv
/kaggle/input/nhs-expenditure-salisbury/April2014.csv
/kaggle/input/nhs-expenditure-salisbury/OCT2017.csv
/kaggle/input/nhs-expenditure-salisbury/MAY11.csv
/kaggle/input/nhs-expenditure-salisbury/Feb2013.csv
/kaggle/input/nhs-expenditure-salisbury/NEWAPR2012.csv
/kaggle/input/nhs-expenditure-salisbury/February2015.csv
/kaggle/input/nhs-expenditure-salisbury/DEC11b.CSV
/kaggle/input/nhs-expenditure-salisbury/October2014.csv
/kaggle/input/nhs-expenditure-salisbury/Nov11.csv
/kaggle/input/nhs-expenditure-salisbury/2015_June.csv
/kaggle/input/nhs-expenditure-salisbury/SEP19.csv
/kaggle/input/nhs-expenditure-salisbury/AUG2017.csv
/kaggle/input/nhs-expenditure-salisbury/Jan2014.csv
/kaggle/input/nhs-expenditure-salisbury/Aug10.csv
/kaggle/input/nhs-expenditure-salisbury/JUL2017.csv
/kaggle/input/nhs-expenditure-salisbury/2015_May.csv
/kaggle/input/nhs-expenditure-salisbury/FEB2018.csv
/kaggle/input/nhs-expenditure-salisbury/January2015.csv
/kaggle/input/nhs-expenditure-salisbury/JUNE2019.csv
/kaggle/input/nhs-expenditure-salisbury/AUG19.csv
/kaggle/input/nhs-expenditure-salisbury/February2014.csv
/kaggle/input/nhs-expenditure-salisbury/May10.csv
/kaggle/input/nhs-expenditure-salisbury/JUN2017.csv
/kaggle/input/nhs-expenditure-salisbury/June2014.csv
/kaggle/input/nhs-expenditure-salisbury/DEC2019.csv
/kaggle/input/nhs-expenditure-salisbury/Oct10.csv
/kaggle/input/nhs-expenditure-salisbury/DEC2018.csv
/kaggle/input/nhs-expenditure-salisbury/JAN12.csv
/kaggle/input/nhs-expenditure-salisbury/FEB2017.csv
/kaggle/input/nhs-expenditure-salisbury/DEC2017.csv
/kaggle/input/nhs-expenditure-salisbury/July2013.csv
/kaggle/input/nhs-expenditure-salisbury/Jul10.csv
/kaggle/input/nhs-expenditure-salisbury/NEWMAR2012.csv
/kaggle/input/nhs-expenditure-salisbury/APR2019.csv
/kaggle/input/nhs-expenditure-salisbury/April2016.csv
/kaggle/input/nhs-expenditure-salisbury/JUNE2018.csv
/kaggle/input/nhs-expenditure-salisbury/MAY2018.csv
/kaggle/input/nhs-expenditure-salisbury/Dec2012.csv
/kaggle/input/nhs-expenditure-salisbury/JUL11.csv
/kaggle/input/nhs-expenditure-salisbury/MAR11.csv
/kaggle/input/nhs-expenditure-salisbury/AUG18.csv
/kaggle/input/nhs-expenditure-salisbury/December2013.csv
/kaggle/input/nhs-expenditure-salisbury/OCT11.csv
/kaggle/input/nhs-expenditure-salisbury/March2013.csv
/kaggle/input/nhs-expenditure-salisbury/May2014.csv
/kaggle/input/nhs-expenditure-salisbury/October2013.csv
/kaggle/input/nhs-expenditure-salisbury/OCT19.csv
/kaggle/input/nhs-expenditure-salisbury/201511.csv
/kaggle/input/nhs-expenditure-salisbury/NOV2019.csv
/kaggle/input/nhs-expenditure-salisbury/AUG2012.csv
/kaggle/input/nhs-expenditure-salisbury/MAY2017.csv
/kaggle/input/nhs-expenditure-salisbury/AUG11.csv
/kaggle/input/nhs-expenditure-salisbury/NOV16.csv
/kaggle/input/nhs-expenditure-salisbury/Nov10.csv
/kaggle/input/nhs-expenditure-salisbury/JUN11.csv
/kaggle/input/nhs-expenditure-salisbury/SEP11.csv
/kaggle/input/nhs-expenditure-salisbury/Jan 2013.csv
/kaggle/input/nhs-expenditure-salisbury/September2014.csv
/kaggle/input/nhs-expenditure-salisbury/March2014.csv
/kaggle/input/nhs-expenditure-salisbury/July2014.csv
/kaggle/input/nhs-expenditure-salisbury/Nov2012.csv
/kaggle/input/nhs-expenditure-salisbury/February2016.csv
/kaggle/input/nhs-expenditure-salisbury/2015_October.csv
/kaggle/input/nhs-expenditure-salisbury/SEP2018.csv
/kaggle/input/nhs-expenditure-salisbury/Jun10.csv
/kaggle/input/nhs-expenditure-salisbury/September2013.csv
/kaggle/input/nhs-expenditure-salisbury/March2015.csv
/kaggle/input/nhs-expenditure-salisbury/March2016.csv
/kaggle/input/nhs-expenditure-salisbury/April10.csv
/kaggle/input/nhs-expenditure-salisbury/NOV2017.csv
/kaggle/input/nhs-expenditure-salisbury/November2014.csv
/kaggle/input/nhs-expenditure-salisbury/MAR2018.csv
/kaggle/input/nhs-expenditure-salisbury/August2014.csv
/kaggle/input/nhs-expenditure-salisbury/MAY2019.csv
/kaggle/input/nhs-expenditure-salisbury/June 2013.csv
/kaggle/input/nhs-expenditure-salisbury/JAN17.csv
/kaggle/input/nhs-expenditure-salisbury/JULY2019.csv
/kaggle/input/nhs-expenditure-salisbury/May2013.csv
/kaggle/input/nhs-expenditure-salisbury/JAN2019.csv
/kaggle/input/nhs-expenditure-salisbury/Sep10.csv
/kaggle/input/nhs-expenditure-salisbury/Aug2013.csv

# ETL

In [2]:
# This step may take 3-4 minutes

import glob
import chardet

path = r'../input/nhs-expenditure-salisbury' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    
    # Get encoding for each csv
    rawdata = open(filename, 'rb').read()
    result = chardet.detect(rawdata)
    charenc = result['encoding']

    # Read the csv into a dataframe
    df_per_month = pd.read_csv(filename, index_col=None, header=0, encoding=charenc)
    li.append(df_per_month)

df = pd.concat(li, axis=0, ignore_index=True)

In [3]:
df.head()

,Department Family,Entity,Date,Expense Type,Expense area,Supplier,Transaction Number,Amount,VAT registration Number,Amount,VAT Registration Number,Expense,VAT registration number
0,Department of Health,Salisbury NHS Foundation Trust,07-Oct-16,ENERGY - GAS,Corporate - ETS,CORONA ENERGY,11453549,"£5,115.22",NaN,NaN,NaN,NaN,NaN
1,Department of Health,Salisbury NHS Foundation Trust,07-Oct-16,ENERGY - GAS,Corporate - ETS,CORONA ENERGY,11453549,"£44,834.23",NaN,NaN,NaN,NaN,NaN
2,Department of Health,Salisbury NHS Foundation Trust,07-Oct-16,ENERGY - GAS,Corporate - ETS,CORONA ENERGY,11453549,£255.76,NaN,NaN,NaN,NaN,NaN
3,Department of Health,Salisbury NHS Foundation Trust,07-Oct-16,ENERGY - GAS,Corporate - ETS,CORONA ENERGY,11453549,"£8,966.85",NaN,NaN,NaN,NaN,NaN
4,Department of Health,Salisbury NHS Foundation Trust,07-Oct-16,DRUGS,Clinical Support,ROCHE PRODUCTS LTD,1321887892,"£22,497.95",NaN,NaN,NaN,NaN,NaN

In [4]:
df.tail()

,Department Family,Entity,Date,Expense Type,Expense area,Supplier,Transaction Number,Amount,VAT registration Number,Amount,VAT Registration Number,Expense,VAT registration number
814513,Department of Health,Salisbury NHS Foundation Trust,30-Aug-13,MEDICAL EQUIPMENT 10 YEARS,Capital Projects,OLYMPUS KEYMED LTD,CD1900471,NaN,NaN,22950,NaN,NaN,NaN
814514,Department of Health,Salisbury NHS Foundation Trust,30-Aug-13,MEDICAL EQUIPMENT 10 YEARS,Capital Projects,OLYMPUS KEYMED LTD,CD1900471,NaN,NaN,4590,NaN,NaN,NaN
814515,Department of Health,Salisbury NHS Foundation Trust,30-Aug-13,MEDICAL EQUIPMENT 10 YEARS,Capital Projects,OLYMPUS KEYMED LTD,CD1900471,NaN,NaN,-45.9,NaN,NaN,NaN
814516,Department of Health,Salisbury NHS Foundation Trust,30-Aug-13,DRUGS,Clinical Support and Family Services,ROCHE PRODUCTS LTD,1321607824,NaN,NaN,28075.6,NaN,NaN,NaN
814517,Department of Health,Salisbury NHS Foundation Trust,30-Aug-13,DRUGS,Clinical Support and Family Services,ROCHE PRODUCTS LTD,1321607824,NaN,NaN,5615.12,NaN,NaN,NaN

In [5]:
nRow, nCol = df.shape
print('There are {} rows and {} columns in the dataframe.'.format(nRow, nCol))

There are 814518 rows and 13 columns in the dataframe.

## Sorting by Date
First, we need to clean the "Date" column and change the values into sortable values.

In [6]:
# Check for NaN dates

df.Date.isna().sum()

1

In [7]:
df.dropna(axis=0, subset=["Date"], inplace=True)

In [8]:
# Check for empty dates

empty = [index for index, date in enumerate(df.Date.values) if str(date).strip() == '']
df.iloc[empty]

Empty DataFrame
Columns: [Department Family, Entity, Date, Expense Type, Expense area, Supplier, Transaction Number,  Amount , VAT registration Number, Amount, VAT Registration Number, Expense, VAT registration number]
Index: []

In [9]:
# See how dates are formatted
df.Date.unique()

array(['07-Oct-16', '14-Oct-16', '21-Oct-16', '28-Oct-16', '06-May-16',
       '27-May-16', '13-May-16', '20-May-16', '29-Sep-17', '22-Sep-17',
       '15-Sep-17', '01-Sep-17', '07-Sep-17', '13-Sep-17', '19-Sep-17',
       '05-Oct-18', '19-Oct-18', '26-Oct-18', '12-Oct-18', '06-Jul-12',
       '13-Jul-12', '18-Jul-12', '20-Jul-12', '27-Jul-12', '04-Sep-2015',
       '11-Sep-2015', '18-Sep-2015', '24-Sep-2015', '05-Dec-14',
       '12-Dec-14', '19-Dec-14', '29-Dec-14', '03-Feb-12', '10-Feb-12',
       '24-Feb-12', '17-Feb-12', '27-Jul-18', '20-Jul-18', '13-Jul-18',
       '30-Jul-18', '06-Jul-18', '23-Jul-18', '31-Jul-18', '18-Jul-18',
       '12-Jul-18', '04-Jul-18', '04/12/2015', '18/12/2015', '11/12/2015',
       '29/12/2015', '24/12/2015', '23/12/2015', '28-Jan-11', '21-Jan-11',
       '14-Jan-11', '21/03/2019', '28/03/2019', '15/03/2019',
       '08/03/2019', '22/03/2019', '01/03/2019', '02-Sep-16', '09-Sep-16',
       '16-Sep-16', '23-Sep-16', '30-Sep-16', '27-Apr-18', '20-Apr-18',
       '13-Apr-18', '25-Apr-18', '06-Apr-18', '01-Apr-18', '24-Apr-18',
       '17-Apr-18', '15-Feb-19', '08-Feb-19', '22-Feb-19', '18-Feb-19',
       '01-Feb-19', '11-May-12', '04-May-12', '18-May-12', '25-May-12',
       '25-Jan-18', '19-Jan-18', '12-Jan-18', '26-Jan-18', '05-Jan-18',
       '09-Jan-18', '23-Jan-18', '16-Jan-18', '04-Jan-18', '07-Apr-2015',
       '10-Apr-2015', '24-Apr-2015', '17-Apr-2015', '15-Dec-10',
       '03-Dec-10', '17-Dec-10', '10-Dec-10', '23-Dec-10', '05-Apr-13',
       '19-Apr-13', '26-Apr-13', '11-Apr-13', '12-Apr-13', '02-Dec-16',
       '09-Dec-16', '16-Dec-16', '22-Dec-16', '23-Dec-16', '07-Sep-12',
       '14-Sep-12', '21-Sep-12', '27-Sep-12', '28-Sep-12', '10-Jun-16',
       '03-Jun-16', '24-Jun-16', '17-Jun-16', '07/01/2016', '08/01/2016',
       '15/01/2016', '29/01/2016', '22/01/2016', '09/11/2018',
       '16/11/2018', '23/11/2018', '30/11/2018', '02/11/2018',
       '20/11/2018', '08-Apr-14', '11-Apr-14', '22-Apr-14', '24-Apr-14',
       '25-Apr-14', '20-Oct-17', '13-Oct-17', '27-Oct-17', '06-Oct-17',
       '31-Oct-17', '02-May-11', '03-May-11', '05-May-11', '13-May-11',
       '20-May-11', '15-Feb-13', '01-Feb-13', '08-Feb-13', '22-Feb-13',
       '14-Feb-13', '20-Apr-12', '27-Apr-12', '10-Apr-12', '13-Apr-12',
       '24-Apr-12', '06-Feb-15', '27-Feb-15', '20-Feb-15', '13-Feb-15',
       '03-Oct-14', '10-Oct-14', '17-Oct-14', '20-Oct-14', '24-Oct-14',
       '31-Oct-14', '08-Nov-11', '11-Nov-11', '04-Nov-11', '25-Nov-11',
       '18-Nov-11', '01-Jun-2015', '05-Jun-2015', '12-Jun-2015',
       '19-Jun-2015', '26-Jun-2015', '20/09/2019', '27/09/2019',
       '18/09/2019', '13/09/2019', '05/09/2019', '25-Aug-17', '18-Aug-17',
       '11-Aug-17', '04-Aug-17', '15-Aug-17', '14-Aug-17', '07-Aug-17',
       '01-Aug-17', '03-Jan-14', '10-Jan-14', '17-Jan-14', '20-Jan-14',
       '24-Jan-14', '27-Jan-14', '31-Jan-14', '06-Aug-10', '09-Aug-10',
       '13-Aug-10', '19-Aug-10', '14-Jul-17', '21-Jul-17', '28-Jul-17',
       '07-Jul-17', '19-Jul-17', '04-Jul-17', '01/05/2015', '08/05/2015',
       '11/05/2015', '15/05/2015', '22/05/2015', '29/05/2015',
       '07-Feb-18', '19-Feb-18', '09-Feb-18', '16-Feb-18', '23-Feb-18',
       '02-Feb-18', '05-Feb-18', '16-Jan-15', '02-Jan-15', '05-Jan-15',
       '09-Jan-15', '30-Jan-15', '23-Jan-15', '12/06/2019', '21/06/2019',
       '28/06/2019', '07/06/2019', '27/06/2019', '04/06/2019',
       '09/08/2019', '30/08/2019', '16/08/2019', '02/08/2019',
       '23/08/2019', '21/08/2019', '07-Feb-14', '14-Feb-14', '20-Feb-14',
       '21-Feb-14', '27-Feb-14', '07-May-10', '14-May-10', '30-Jun-17',
       '16-Jun-17', '23-Jun-17', '09-Jun-17', '02-Jun-17', '27-Jun-17',
       '06-Jun-14', '12-Jun-14', '13-Jun-14', '20-Jun-14', '27-Jun-14',
       '06-Dec-19', '23-Dec-19', '24-Dec-19', '13-Dec-19', '27-Dec-19',
       '28-Oct-10', '04-Oct-10', '08-Oct-10', '15-Oct-10', '07-Dec-18',
       '28-Dec-18', '19-Dec-18', '14-Dec-18', '21-Dec-18', '10-Jan-12',
       '06-Jan-12', '13-Jan-12', '20-Jan-12', '27-Jan-12', '10-Feb-17',
       '24-Feb-17', '03-Feb-17', '17-Feb-17', '15-Dec-17', '14-Dec-17',
       '08-Dec-17', '01-Dec-17', '21-Dec-17', '11-Dec-17', '01-Jul-13',
       '05-Jul-13', '08-Jul-13', '12-Jul-13', '19-Jul-13', '25-Jul-13',
       '26-Jul-13', '02-Jul-10', '09-Jul-10', '16-Jul-10', '23-Jul-10',
       '23-Mar-12', '02-Mar-12', '09-Mar-12', '16-Mar-12', '28-Mar-12',
       '29-Mar-12', '25/04/2019', '12/04/2019', '26/04/2019',
       '05/04/2019', '18/04/2019', '08-Apr-16', '22-Apr-16', '29-Apr-16',
       '04-Apr-16', '15-Apr-16', '15-Jun-18', '08-Jun-18', '01-Jun-18',
       '22-Jun-18', '29-Jun-18', '27-Jun-18', '13-Jun-18', '06-Jun-18',
       '05-Jun-18', '02/05/2018', '23/05/2018', '31/05/2018',
       '09/05/2018', '04/05/2018', '18/05/2018', '25/05/2018',
       '11/05/2018', '16/05/2018', '21/05/2018', '14/12/2012',
       '07/12/2012', '21/12/2012', '15-Jul-11', '01-Jul-11', '22-Jul-11',
       '08-Jul-11', '04-Jul-11', '01-Mar-11', '21-Mar-11', '10-Aug-18',
       '17-Aug-18', '24-Aug-18', '03-Aug-18', '31-Aug-18', '03-Dec-13',
       '06-Dec-13', '13-Dec-13', '20-Dec-13', '23-Dec-13', '21-Oct-11',
       '28-Oct-11', '17-Oct-11', '10-Oct-11', '07-Oct-11', '15-Mar-13',
       '08-Mar-13', '01-Mar-13', '27-Mar-13', '22-Mar-13', '01-May-14',
       '02-May-14', '09-May-14', '12-May-14', '16-May-14', '22-May-14',
       '23-May-14', '30-May-14', '04-Oct-13', '11-Oct-13', '14-Oct-13',
       '18-Oct-13', '25-Oct-13', '18-Oct-19', '11-Oct-19', '31-Oct-19',
       '24-Oct-19', '04-Oct-19', '23/11/2015', '20/11/2015', '16/11/2015',
       '27/11/2015', '06/11/2015', '08/11/2019', '29/11/2019',
       '22/11/2019', '15/11/2019', '03-Aug-12', '10-Aug-12', '17-Aug-12',
       '23-Aug-12', '24-Aug-12', '31-Aug-12', '12-May-17', '31-May-17',
       '26-May-17', '05-May-17', '19-May-17', '05-Aug-11', '12-Aug-11',
       '26-Aug-11', '19-Aug-11', 'F', '04-Nov-16', '11-Nov-16',
       '14-Nov-16', '18-Nov-16', '25-Nov-16', 40487, 40494, '10-Jun-11',
       '03-Jun-11', '24-Jun-11', '11-Jun-11', '16/09/2011', '06/09/2011',
       '04-Jan-13', '11-Jan-13', '18-Jan-13', '25-Jan-13', '17-Jan-13',
       '30-Jan-13', '05-Sep-14', '19-Sep-14', '12-Sep-14', '26-Sep-14',
       '07-Mar-14', '13-Mar-14', '14-Mar-14', '20-Mar-14', '21-Mar-14',
       '28-Mar-14', '04-Jul-14', '11-Jul-14', '16-Jul-14', '18-Jul-14',
       '25-Jul-14', '31-Jul-14', '16-Nov-12', '02-Nov-12', '09-Nov-12',
       '22-Nov-12', '30-Nov-12', '28-Nov-12', '24-Feb-16', '05-Feb-16',
       '12-Feb-16', '26-Feb-16', '19-Feb-16', '02-Oct-2015',
       '09-Oct-2015', '16-Oct-2015', '23-Oct-2015', '30-Oct-2015',
       '21-Sep-18', '14-Sep-18', '28-Sep-18', '07-Sep-18', '24-Sep-18',
       '20-Sep-18', '04-Jun-10', '09-Jun-10', '11-Jun-10', '18-Jun-10',
       '06-Sep-13', '13-Sep-13', '20-Sep-13', '27-Sep-13', '20-Mar-15',
       '27-Mar-15', '06-Mar-15', '13-Mar-15', '04-Mar-16', '11-Mar-16',
       '29-Mar-16', '18-Mar-16', '09/04/2010', '16/04/2010', '23/04/2010',
       '29/04/2010', '30/04/2010', '17-Nov-17', '10-Nov-17', '24-Nov-17',
       '03-Nov-17', '16-Nov-17', '09-Nov-17', '21-Nov-17', '07-Nov-14',
       '14-Nov-14', '28-Nov-14', '10-Nov-14', '21-Nov-14', '16-Mar-18',
       '28-Mar-18', '02-Mar-18', '22-Mar-18', '09-Mar-18', '01-Aug-14',
       '07-Aug-14', '08-Aug-14', '15-Aug-14', '21-Aug-14', '22-Aug-14',
       '29-Aug-14', '31-May-19', '24-May-19', '23-May-19', '02-May-19',
       '10-May-19', '17-May-19', '14-Jun-13', '07-Jun-13', '21-Jun-13',
       '19-Jun-13', '06-Jan-17', '13-Jan-17', '20-Jan-17', '27-Jan-17',
       '26/07/2019', '19/07/2019', '12/07/2019', '01/07/2019',
       '17-May-13', '03-May-13', '10-May-13', '15-May-13', '24-May-13',
       '31-May-13', '25-Jan-19', '18-Jan-19', '11-Jan-19', '04-Jan-19',
       '01-Sep-10', '03-Sep-10', '10-Sep-10', '17-Sep-10', '02-Aug-13',
       '09-Aug-13', '16-Aug-13', '23-Aug-13', '30-Aug-13'], dtype=object)

In [10]:
# Cast to string

df["Date"] = df["Date"].astype(str)

In [11]:
# Drop values spotted from error messages

df.drop(df.loc[df['Date']=="F"].index, inplace=True)
df.drop(df.loc[df['Date']=="40487"].index, inplace=True)
df.drop(df.loc[df['Date']=="40494"].index, inplace=True)

In [12]:
# Takes around 2 minutes
# Change dates into a sortable format

import dateutil.parser as dparser

df["Date"] = df["Date"].apply(lambda x: dparser.parse(x,fuzzy=True).date())
df.head()

,Department Family,Entity,Date,Expense Type,Expense area,Supplier,Transaction Number,Amount,VAT registration Number,Amount,VAT Registration Number,Expense,VAT registration number
0,Department of Health,Salisbury NHS Foundation Trust,2016-10-07,ENERGY - GAS,Corporate - ETS,CORONA ENERGY,11453549,"£5,115.22",NaN,NaN,NaN,NaN,NaN
1,Department of Health,Salisbury NHS Foundation Trust,2016-10-07,ENERGY - GAS,Corporate - ETS,CORONA ENERGY,11453549,"£44,834.23",NaN,NaN,NaN,NaN,NaN
2,Department of Health,Salisbury NHS Foundation Trust,2016-10-07,ENERGY - GAS,Corporate - ETS,CORONA ENERGY,11453549,£255.76,NaN,NaN,NaN,NaN,NaN
3,Department of Health,Salisbury NHS Foundation Trust,2016-10-07,ENERGY - GAS,Corporate - ETS,CORONA ENERGY,11453549,"£8,966.85",NaN,NaN,NaN,NaN,NaN
4,Department of Health,Salisbury NHS Foundation Trust,2016-10-07,DRUGS,Clinical Support,ROCHE PRODUCTS LTD,1321887892,"£22,497.95",NaN,NaN,NaN,NaN,NaN

In [13]:
df = df.sort_values(by="Date")
df.head()

,Department Family,Entity,Date,Expense Type,Expense area,Supplier,Transaction Number,Amount,VAT registration Number,Amount,VAT Registration Number,Expense,VAT registration number
727009,Department of Health,Salisbury NHS Foundation Trust,2010-04-16,RATES,Facilities Directorate,WILTSHIRE COUNCIL,Apr-10,NaN,NaN,96071.2,NaN,NaN,NaN
727003,Department of Health,Salisbury NHS Foundation Trust,2010-04-16,DRUGS,Clinical Support and Family Services,ROCHE PRODUCTS LTD,1321217701,NaN,NaN,25028.5,NaN,NaN,NaN
727004,Department of Health,Salisbury NHS Foundation Trust,2010-04-16,DRUGS,Clinical Support and Family Services,ROCHE PRODUCTS LTD,1321217701,NaN,NaN,4379.99,NaN,NaN,NaN
727005,Department of Health,Salisbury NHS Foundation Trust,2010-04-16,HEALTHCARE - NHS TRUSTS,Clinical Support and Family Services,ROYAL UNITED HOSPITAL BATH NHS TRUST,10291263,NaN,NaN,71642.5,NaN,NaN,NaN
727006,Department of Health,Salisbury NHS Foundation Trust,2010-04-16,HEALTHCARE - NHS TRUSTS,Medicine,SOUTHAMPTON UNIV HOSPITAL NHS TRUST,7166068,NaN,NaN,26815.2,NaN,NaN,NaN

# Cleaning Other Columns

In [14]:
df.isna().sum()

Department Family               0
Entity                          0
Date                            0
Expense Type                 9707
Expense area                   21
Supplier                        0
Transaction Number              0
 Amount                    748572
VAT registration Number    804799
Amount                      56227
VAT Registration Number    804799
Expense                    795092
VAT registration number    804799
dtype: int64

In [15]:
df.to_csv('expenditure.csv',index=False)